footer.footer
	.footer__container
		.footer__top
			.footer__social.social-footer
				.social-footer__title Подписывайтесь на нас:
				.social-footer__icon
					a.icon-youtube(href="")
						img(src=("@img/icons/youtube.svg") alt="")
					a.icon-facebook(href="")
						img(src=("@img/icons/facebook.svg") alt="")
					a.icon-vk(href="")
						img(src=("@img/icons/vk.svg") alt="")
					a.icon-classmates(href="")
						img(src=("@img/icons/classmates.svg") alt="")
					a.icon-instagram(href="")
						img(src=("@img/icons/instagram.svg") alt="")
		.footer__bottom
			.footer__info
				.footer__copyright © 2021 «Златоустовское телевидение»
				a(href="") Политика конфиденциальности
			.footer__logo
				a(href="")
					img(src=("@img/xpage-logo.svg") alt="")